<header>
    <div class="container">

        <img src="../images/logo.JPG"/>
        <ul>
            <li>
                <i class="material-icons" style="font-size:2em;">home</i>
                <label>Inicio</label>
            </li>
            <li>
                <i class="material-icons">work</i>
                <label>Productos</label>
            </li>
            <li>
                <i class="material-icons" style="font-size:2em;">home</i>
                <label>Conozcanos</label>
            </li>
            <li>
                <i class="material-icons" style="font-size:2em;margin-right: 30px">local_grocery_store</i>
                <i class="material-icons" style="font-size:2em;">person</i>
            </li>
        </ul>
    </div>
</header>
