<br>
<br><br>

<div *ngFor="let product of products" class="col-md-4 col-sm-12">
    <div class="row">
        <div class="col-md-11 jumbotron">
            <div class="col-sm-12 col-md-12">
                <img src="http://www.lacalenita.com/images/gallery/C22012%20Sombrero%20Vueltiao%20%2021%20Vueltas.png"
                     width="100%">
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12"><h2>{{product.name}}</h2></div>
                <div class="col-sm-12">
                    <p>
                        {{product.description}}
                    </p>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">{{product.price | currency:'COP'}}</label><a [routerLink]="['/compra', product.id]" class="col-md-9 btn btn-raised btn-success">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
