<div class="container products">
    <div class="product-section">
        <div class="img-container">
            <img src="http://www.lacalenita.com/images/gallery/C22012%20Sombrero%20Vueltiao%20%2021%20Vueltas.png" alt="">
        </div>
        <div class="info-product">
            <label>Producto 1</label>
            <div class="description">
                Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="img-container">
            <img src="http://www.co.all.biz/img/co/catalog/7995.jpeg" alt="">
        </div>
        <div class="info-product">
            <label>Producto 1</label>
            <div class="description">
                My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="img-container">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/39/d4/f0/39d4f064e960849bb916bf62989a062d.jpg" alt="">
        </div>
        <div class="info-product">
            <label>Producto 1</label>
            <div class="description">
                Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="img-container">
            <img src="https://static.iris.net.co/semana/upload/images/2012/10/23/315212_153159_1.png" alt="">
        </div>
        <div class="info-product">
            <label>Producto 1</label>
            <div class="description">
                You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
            </div>
        </div>
    </div>
</div>
